<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Formulario de Registro</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\core\static\fondo.css">
  </head>
  <body>
    <form class="formulario" method="post">
        <h2>Registrate</h2>
            <div class="contenedor">
                <p>Nombre de Usuario: <input class="control" type="text" name="username" placeholder="username"></p>
                <p>Nombre(s): <input class="control" type="text" name="first_name" placeholder="first_name"></p>
                <p>Apellidos: <input class="control" type="text" name="last_name" placeholder="last_name"></p>
                <p>Email: <input class="control" type="text" name="email" placeholder="email"></p>
                <p>Contraseña: <input class="control" type="text" name="password" placeholder="password"></p>
                <input class="control" type="submit" value="Registrarse" id="boton">
                <p><a href="#">¿Ya tengo Cuenta?</a></p>
            </div>
    </form>
  </body>
</html>